{{!
    @template theme_ufpel/footer

    UFPel theme footer template.

    Context variables required for this template:
    * institution - Institution name
    * year - Current year
    * address - Institution address
    * phone - Contact phone
    * email - Contact email
    * footerlinks - Array of footer links

    Example context (json):
    {
        "institution": "Universidade Federal de Pelotas",
        "year": "2025",
        "address": "Rua Gomes Carneiro, 1 - Pelotas/RS",
        "phone": "(53) 3921-1000",
        "email": "contato@ufpel.edu.br",
        "footerlinks": []
    }
}}
<footer class="ufpel-footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>{{institution}}</h5>
                <p class="text-muted">
                    {{address}}<br>
                    {{phone}}<br>
                    <a href="mailto:{{email}}">{{email}}</a>
                </p>
            </div>
            <div class="col-md-4">
                <h5>{{#str}}quicklinks, theme_ufpel{{/str}}</h5>
                <ul class="list-unstyled">
                    {{#footerlinks}}
                        <li><a href="{{url}}">{{title}}</a></li>
                    {{/footerlinks}}
                </ul>
            </div>
            <div class="col-md-4">
                <h5>{{#str}}followus, theme_ufpel{{/str}}</h5>
                <div class="social-links">
                    <a href="#" class="me-2" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="me-2" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="me-2" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <hr class="mt-4">
        <div class="text-center text-muted">
            <p>&copy; {{year}} {{institution}}. {{#str}}allrightsreserved, theme_ufpel{{/str}}</p>
        </div>
    </div>
</footer>