{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ufpel/navbar

    UFPel theme navbar template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The output renderer
    * primarynavigation - Primary navigation
    * secondarynavigation - Secondary navigation
    * usermenu - User menu

    Example context (json):
    {
        "sitename": "UFPel Moodle",
        "output": {},
        "primarynavigation": {},
        "secondarynavigation": {},
        "usermenu": {}
    }
}}
<nav class="navbar fixed-top navbar-light navbar-expand moodle-has-zindex ufpel-navbar" aria-label="{{#str}}sitemenubar, admin{{/str}}">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{{config.wwwroot}}}">
            {{#logourl}}
                <img src="{{logourl}}" alt="{{sitename}}" class="logo">
            {{/logourl}}
            {{^logourl}}
                <span class="site-name">{{sitename}}</span>
            {{/logourl}}
        </a>

        <div class="primary-navigation">
            {{#primarynavigation}}
                {{> core/moremenu}}
            {{/primarynavigation}}
        </div>

        <ul class="navbar-nav d-none d-md-flex">
            {{#secondarynavigation}}
                {{> core/moremenu}}
            {{/secondarynavigation}}
        </ul>

        <div class="usermenu">
            {{#usermenu}}
                {{> core/user_menu}}
            {{/usermenu}}
        </div>
    </div>
</nav>